  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Agrega estilos para mejorar la legibilidad */
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Alinea el botón con los campos de entrada */
  button {
    margin-top: 15px;
  }
  
  /* Estilos para el mensaje de alerta */
  .alert {
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    display: none;
  }